<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../qr/src/styles/bootstrap.min.css">
    <link rel="stylesheet" href="src/styles/custom.css">
</head>
<body id="body">

<div id="particles">
    <div id="oops">
        <h1 style="background-color: white; color: black !important; padding: 0 20px; display:  inline-block">OOPS</h1>
        <br>
        <br>
        <br>
        <h3 style="background-color: white; color: black !important; padding: 0 20px; display:  inline-block">Something
            went wrong</h3>

    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="./src/js/UI.js"></script>

</body>
</html>

